}
body, p, ul, li, h1, h2, h3, h4, h5, h6, hr
{
	margin: 0;
	padding: 0;
}
.user
{
	background-image: url("../Images/u.jpg");
	background-repeat: no-repeat;
	/*height: 590px;*/
	background-size: cover;
	background-attachment: fixed;
  background-position: center;
}
.user-tab-content
{
	color: #fff;
	padding: 60px 0;
	font-size: 16px;
}
.user-tabs li a {
    color: rgb(38,166,154);
    font-size: 17px;
	border: none;
    }
.user-tabs li a:hover{
	background-color: rgb(38,166,154);
	color: white;
}
.user-tabs li a:focus
{
	background-color: rgb(38,166,154);
	color: #fff;
}
.user-tabs li a:hover i{
	color: #795548;
}
.user-tabs .active li
{
	background-color: rgb(38,166,154);
	color: #fff;
} 
.user-tabs .active li a
{
	border-radius: 20px;
}
.nav-tabs.nav-justified>li>a {
     border-bottom: none;
     border-radius: 25px; 
    }
.user .icon a, .home a
{
	color: #fff;
	font-size: 20px;
	top: 40px; 
	position: absolute; 
}
.user .icon a
{
	right: 40px;
}
.user .icon a:hover
{
	color: #26A69A;
	border-color: #26A69A;
}
.home a
{
	left: 40px;
	padding: 5px 10px;
}
.home a:hover
{
	color: #26A69A;
	border-color: #26A69A;
}
.user-pro
{
	background-color: #111;
	box-shadow: 0 1px 7px rgb(255,255,255);
	text-align: center; 
	width:300px;
	/*height: 130px;*/
	padding: 10px 0;
	border-radius: 5px; 
	position: absolute; 
	top: 90px; 
	right: 40px; 
}
.user-pro img
{
	box-shadow: 0 1px 7px rgb(255,255,255);
}
.user-pro p
{
	color: #fff;
	padding-top: 10px;
	font-size: 17px;
	text-transform: uppercase;
}
.btn-view, .btn-edit
{
	color: #fff;
	width: 100%;
	background-color: rgb(38,166,154);
	margin-top: 12px;
}
.btn-view:hover, .btn-edit:hover
{
	color: rgb(38,166,154);
	background-color: #fff;
}
.user-btn
{
	padding: 10px 0;

}
/*Dashboard*/
.screening 
{
	border-radius: 4px;
	padding: 10px;
	border: solid 1px #fff;
	text-align: center;
}
.screening:hover
{
	 box-shadow: 0 1px 7px rgb(255,255,255);
}
.screening .img
{
	height: 130px;
}
.screening img
{
	width: 50%;
	height: 100%;
}
.screening p.score
{
	font-size: 30px;
	color: green;
}
.screening p.heading
{
	font-size: 20px;
	color: #26A69A;
}

/*Courses*/
.course-main
{
	height: 300px;
}
.course-content
{
	height: 100%;
	text-align: center;
}
.course-content img
{
	height: 100%;
	width: 60%;
}
.courses-content h3
{
	margin-bottom: 10px;
	color: orange;
	text-transform: uppercase;
}
.courses-content p{
	font-size: 16px;
	color: #26A69A;
	text-align: justify;
}
.courses-content hr{
    color: #26A69A;
    margin: 10px 0;
}
.rotation{
		-webkit-animation: rotation 5s infinite linear;
}
@-webkit-keyframes rotation {
		0%{-webkit-transform: rotateX(0deg);}
		25% {-webkit-transform: rotateY(90deg);}
		50%{-webkit-transform: rotateZ(180deg);}
		75%{-webkit-transform: rotateX(270deg);}
		100%{-webkit-transform: rotateY(360deg);}
}
/*@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotateZ(0deg);
		}
		to {
				-webkit-transform: rotateZ(360deg);
		}
}*/
/*learning*/
.learn-content
{
	height: 300px;
}
.learn img
{
	height: 100%;
}
.learn-img
{
	text-align: center;
}
.learn img 
{
	width: 50%;
	height: 100%;
}
.tech-img img
{
	width: 80%;
}
.technical
{
	margin-bottom: 50px;
}
/*Accordion*/
.learn h2
{
	text-align: center;
	color: #26A69A;
	margin-bottom: 5px;
}
button.accordion {
	background-color: #111;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    margin-bottom: 5px;
    width: 100%;
    /*border: none;*/
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
button.accordion:hover
{
	
}
button.accordion:hover {
	background-color: #26A69A;
	color: #000;
	/*border: none;*/
	}
button.accordion:after {
    content: '\02C5';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\02C4";
}

div.panel {
	border-radius: 10px;
	margin-bottom: 0;
	border: none;
    padding: 0 25px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.learn ul li
{
	list-style-type: none;
	padding: 5px 0;
}
/*Test Pattern*/
.test-pattern
{
	text-align: center;
}
.test-pattern p
{
	padding: 0 180px;
	color: orange;
	font-size: 20px;
}
.test-content .round
{
	height: 100px;
}
.round .col-sm-*
{
	height: 100%;
}
.round img
{
	height: 50%;
	width: 100%;
}


.one, .two 
{
	position: relative;
	animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    /*animation-fill-mode: forwards*/
}
.one
{
	animation-name: listitemone;
    animation-delay: 2s;

}
.two
{
	animation-name: listitemtwo;
	animation-delay: 3.5s;
}
@keyframes listitemone {
    0%   { left:  -200px;}
    50%   { left:  300px;}
    100% { left: 150px;}
}
@keyframes listitemtwo {
    0%   { left:  -200px;}
    50%{ left:  150px;}
    100% { left: 50px;}
}
.test-content,.test-content img
{
	height: 100%;
}
.test-content .our
{
	font-size: 17px;
	color: #26A69A;
	text-align: center;
}
.test-content h3,.test-content i
{
	color: #26A69A;
}
.test-content img
{
	width: 100%;
}
.test-content ul li
{
	padding: 5px;
	list-style-type: none;
}
.tp-bg h1
{
	text-align: center;color: peachpuff;margin: 40px 0;
}
/*media querie*/
@media screen and (min-width: 320px) and (max-width: 430px)
{
	.user-tab-content
	{
		padding: 0 0 60px 0;
		font-size: 14px;
	}
	.user-tabs li a {
    font-size: 14px;

	}
	.user-pro
	{
		width: 270px;
		right: 25px;
	}
	.course-main
	{
		height: inherit;
	}
	.learn-content 
	{
    	margin-bottom: 60px;
	}
	.screening
	{
		margin-top: 10px;
	}
	.test-pattern p {
    padding: 10px 10px;
    font-size: 17px;
	}
	.test-img
	{
		margin: 0;
	}
	.tp-bg h1
	{
	    margin: 40px 0 0 0;
	}
	.rounds-table img {
    width: 70%;
}

}
@media (min-width: 768px) {
	.test-pattern p 
	{
	    padding: 0px 60px;
	}
	.rounds-table img 
	{
	    width: 50%;
	}
}
@media (min-width: 1024px) 
{
	.rounds-table img 
	{
	    width: 30%;
	}
}